@{
    var vatTu = ViewBag.vatTuYTe as List<VatTuYTe>;
    var hoaDon = ViewBag.HoaDons as HoaDonDTO;
    var khachhang = ViewBag.Khachhang as KHDTO;
    var dc = ViewBag.DiaChi as DiaChi;
    KhachHangDTo khachHangDTo = new KhachHangDTo();
    var hangcho = ViewBag.HangCho as List<HangCho>;
    if (hoaDon != null)
    {
        khachHangDTo.IDKH = hoaDon.IDKH;
        khachHangDTo.TenKhachHang = hoaDon.KhachHang.TenKhachHang;
        khachHangDTo.SoDienThoai = hoaDon.KhachHang.SoDienThoai;
        khachHangDTo.NgaySinh = hoaDon.KhachHang.NgaySinh;
        khachHangDTo.DiaChi = hoaDon.KhachHang.DiaChi;

    }
    else if (khachhang != null)
    {
        khachHangDTo.IDKH = khachhang.IDKH;
        khachHangDTo.TenKhachHang = khachhang.TenKhachHang;
        khachHangDTo.SoDienThoai = khachhang.SoDienThoai;
        khachHangDTo.NgaySinh = khachhang.NgaySinh;
        khachHangDTo.DiaChi = khachhang.DiaChi;
        khachHangDTo.NgaySinh = khachhang.NgaySinh;
    }


}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="" style="color: #2fb388;">QUẢN LÝ HÓA ĐƠN</h2>
        <div class="float-end ">
            <button class="btn fw-bold custom-btn" id="activateButton"><i class="fa-solid fa-plus"></i> Thêm</button>
            <button class="btn fw-bold custom-btn" id="updateButton" data-action="@Url.Action("UpdateHoaDon", "QLHoaDon")" onclick="changeAction(this)">
                <i class="fa-solid fa-floppy-disk"></i> Lưu
            </button>
            <button class="btn fw-bold custom-btn" id="cancelButton" data-action="@Url.Action("CancelHoaDon", "QLHoaDon")" onclick="changeAction(this)">
                <i class="fa-solid fa-floppy-disk" ></i> Hủy
            </button>

            <a class="btn fw-bold custom-btn" asp-action="QLHoaDon" asp-controller="QLHoaDon"><i class="fa-solid fa-repeat"></i>  </a>
            <a class="btn fw-bold custom-btn" asp-action="HomeQL" asp-controller="Home"><i class="fa-solid fa-right-from-bracket"></i> </a>
        </div>
    </div>
    <script>
        function changeAction(button) {
            var form = document.getElementById('vattuform');
            if (form) {
                var actionUrl = button.getAttribute('data-action');
                if (actionUrl) {
                    if (form.action !== actionUrl) {
                        form.action = actionUrl; // Chỉ thay đổi action khi cần thiết
                    }
                } else {
                    console.error('No action URL found');
                }
            } else {
                console.error('Form not found');
            }
        }
    </script>
    <!-- Thông tin hóa đơn -->
    <div class="row m-0 mb-3 border rounded-4 py-2  ">

        <div class="col-4  ">
            <div class=" ms-1 p-3 py-1 border rounded-4 h-100">

                <div class="row">
                    <button class="col border  border-1 rounded-start btn "><i class="fa-solid fa-arrows-rotate"></i></button>
                    <input class="col-8  border border-1 rounded-2 mx-1" type="text">
                    <button type="button" class="col border border-1 rounded-end btn "><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="row border rounded-4 border-1 mt-1 " style="min-height: 90%; max-height: 400px; overflow-y: auto;">

                    <table class="table  table-hover h-25 m-0 text-center ">
                        <thead class="rounded-4">
                            <tr>
                                <th class="col-2">STT</th>
                                <th class="col">Mã khách hàng</th>
                                <th class="col-4">Họ tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int STT = 1;
                            }
                            @if (hangcho != null)
                            {
                                @foreach (var item in hangcho)
                                {
                                    <tr onclick="location.href='@Url.Action("ClickKhachHang", "QLHoaDon", new { IDKH = @item.IDKH })' ">

                                        <td>@STT</td>
                                        <td>@item.IDKH</td>
                                        <td>@item.HoTen</td>

                                    </tr>
                                    STT++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="invoice-section col-8  ">

           

            <form id="vattuform" method="post" action="@Url.Action("AddHoaDon", "QLHoaDon")">
                <div class=" ms-2 p-3 border rounded-4 h-100">
                    <div class="row ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="makhachhang">Mã Khách Hàng</label>
                                <input type="text" name="MaKH" class="form-control form-control-sm" id="medicalCode " value="@if(khachHangDTo!=null){@khachHangDTo.IDKH}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="name">Họ tên</label>
                                <input type="text" class="form-control form-control-sm" id="name" value="@if(khachHangDTo!=null){
                                @khachHangDTo.TenKhachHang
}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="phone">Số điện thoại</label>
                                <input type="text" class="form-control form-control-sm" id="phone" value="@if(khachHangDTo!=null){
                                @khachHangDTo.SoDienThoai
}">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="birthYear">Năm sinh</label>
                                <input type="number" class="form-control form-control-sm"
                                       value="@khachHangDTo?.NgaySinh.Year"
                                       min="1900" max="2100" />
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="fw-semibold" for="hoKhauTinh">Tỉnh/TP</label>
                            <select class="form-control" id="hoKhauTinh" required>

                                @if (dc != null)
                                {
                                    <option value="@dc.IDTTP" selected>@dc.NameTTP</option>
                                }
                                else
                                {
                                    <option value="" disabled selected>Chọn tỉnh/thành phố</option>
                                }


                            </select>
                        </div>
                        <div class="form-group col">
                            <label class="fw-semibold" for="hoKhauQuan">Quận/Huyện</label>
                            <select class="form-control" id="hoKhauQuan" required>

                                @if (dc != null)
                                {
                                    <option value="@dc.IDQH" selected>@dc.NameQH</option>
                                }
                                else
                                {
                                    <option value="" disabled selected>Chọn quận/huyện</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col">
                            <label class="fw-semibold" for="hoKhauXa">Xã/Phường</label>
                            <select class="form-control" id="hoKhauXa" name="hoKhauXa" required>
                                @if (dc != null)
                                {
                                    <option value="@dc.IDXP" selected>@dc.NameXP</option>
                                }
                                else
                                {
                                    <option value="" disabled selected>Chọn phường/xã</option>
                                }
                            </select>
                        </div>



                        <div class="col">
                            <div class="form-group">
                                <label class="fw-semibold" for="address">Địa chỉ</label>
                                <input type="text" class="form-control form-control-sm" id="address" value="@khachHangDTo?.DiaChi ">
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="manhanvien">Mã nhân viên</label>
                                <input type="text" name="MaNV" class="form-control form-control-sm" id="medicalCode" value="@if (hoaDon != null)
                                {@hoaDon.NhanVien.IDNV}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="invoiceNumber">Mã hóa đơn</label>
                                <input type="text" name="MaHD" class="form-control form-control-sm" id="mahoadon" value="@if (hoaDon != null)
                                { @hoaDon.IDHD}">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="mavaccine">Mã vaccine</label>
                                <select class="form-control form-control-sm" id="mavaccine" name="MaVT" onchange="updateDetails()">
                                    <option></option>
                                    @if (vatTu != null)
                                    {
                                        foreach (var item in vatTu)
                                        {
                                            // Kiểm tra nếu hoaDon.HoaDonChiTiets không rỗng và mã đầu tiên trùng với mã này
                                            bool isSelected = hoaDon?.HoaDonChiTiets != null && hoaDon.HoaDonChiTiets.Any()
                                            && item.IDVT == hoaDon.HoaDonChiTiets.First().IDVT;
                                            if (isSelected)
                                            {
                                                <option value="@item.IDVT" selected>@item.IDVT</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IDVT">@item.IDVT</option>
                                            }

                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="noidung">Nội dung</label>
                                <select class="form-control form-control-sm" name="NoiDung" id="noidung">
                                    <option></option>
                                    @if (vatTu != null)
                                    {
                                        @foreach (var item in vatTu)
                                        {
                                            bool isSelected = hoaDon?.HoaDonChiTiets != null && hoaDon.HoaDonChiTiets.Any()
                                        && item.IDVT == hoaDon.HoaDonChiTiets.First().IDVT;
                                            if (isSelected)
                                            {
                                                <option value="@item.TenVatTu" selected>@item.TenVatTu</option>
                                            }
                                            else
                                            {
                                                <option value="@item.TenVatTu">@item.TenVatTu</option>
                                            }
                                           
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="soluong">Số lượng</label>
                                <input type="number" name="SoLuong" min="1" class="form-control form-control-sm" id="soluong">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="dongia">Đơn giá</label>
                                <input type="text" name="DonGia" class="form-control form-control-sm" id="dongia">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="thanhtien">Thành tiền</label>
                                <input type="text" name="ThanhTien" class="form-control form-control-sm" id="thanhtien">
                            </div>
                        </div>
						<div class="col-md-3">
							<label class="fw-semibold" for="paymentMethod">Hình thức thanh toán</label>
							<select id="paymentMethod" name="GhiChu" class="form-control form-control-sm" required>
								<option></option>
                                @if (hoaDon != null && @hoaDon.GhiChu == "Tiền mặt")
								{
                                    <option value="Tiền mặt" selected>Tiền mặt</option>
                                    <option value="Chuyển khoản">Chuyển khoản</option>

								}
                                else if (hoaDon != null && @hoaDon.GhiChu == "Chuyển khoản")
                                {
                                    <option value="Tiền mặt" >Tiền mặt</option>
                                    <option value="Chuyển khoản" selected>Chuyển khoản</option>
                                }
								else
								{

                                    <option value="Tiền mặt">Tiền mặt</option>
                                    <option value="Chuyển khoản">Chuyển khoản</option>
								}
							</select>
						</div>
                    </div>

                    <div class="row">
                       
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="paymentMethod">Thanh toán</label>
                                <select id="paymentMethod" name="ThanhToan" class="form-control form-control-sm">
                                   
                                    @if (hoaDon != null)
                                    {
                                        if (hoaDon.ThanhToan)
                                        {
                                            <option value="True" selected>Đã thanh toán</option>
                                            <option value="False">Chưa thanh toán</option>
                                        }
                                        else
                                        {
                                            <option value="True" >Đã thanh toán</option>
                                            <option value="False" selected>Chưa thanh toán</option>
                                        }

                                    }
                                    else
                                    {
                                        <option></option>
                                        <option value="True">Đã thanh toán</option>
                                        <option value="False">Chưa thanh toán</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="fw-semibold" for="thoigian">Thời gian</label>
                            <input type="datetime-local" name="ThoiGian" value="@if (hoaDon != null)
                                { @hoaDon.ThoiGian.ToString("yyyy-MM-ddTHH:mm")}" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="fw-semibold" for="paymentMethod">Trạng thái</label>
                                <select id="paymentMethod" name="TrangThai" class="form-control form-control-sm ">
                                
                                    @if (hoaDon != null)
                                    {
                                        if(hoaDon.TrangThai)
                                        {
                                            <option value="True" selected>Đã hủy</option>
                                            <option value="False">Đã thực hiện</option>
                                        }
                                        else
                                        {
                                            <option value="False" selected>Đã thực hiện</option>
                                            <option value="True">Đã hủy</option>
                                        }
                                    }
                                    else
                                    {
                                        <option></option>
                                        <option value="True">Đã hủy</option>
                                        <option value="False">Đã thực hiện</option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row p-2 ps-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio-group row">

                                    <div class="ms-2">
                                        <button class="btn" type="button">Hoàn trả</button>
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <button id="targetButton" type="submit" style="display:none;">Nút bị kích hoạt</button>
                <script>
                    // Lấy phần tử button
                    const activateButton = document.getElementById('activateButton');
                    const targetButton = document.getElementById('targetButton');
                    const updateButton = document.getElementById('updateButton');
                    const cancelButton = document.getElementById('cancelButton');


                    // Thêm sự kiện click vào nút kích hoạt
                    activateButton.addEventListener('click', function () {

                        targetButton.click();
                    });
                    updateButton.addEventListener('click', function () {

                        targetButton.click();
                    });
                    cancelButton.addEventListener('click', function () {

                        targetButton.click();
                    });
                  
                    document.addEventListener('DOMContentLoaded', function () {
                        updateDetails(); // Gọi hàm khi trang tải xong
                    });

                    function updateDetails() {
                        const mavaccine = document.getElementById('mavaccine');
                        const soluong = document.getElementById('soluong');
                        const dongia = document.getElementById('dongia');
                        const thanhtien = document.getElementById('thanhtien');
                        const tableRows = document.querySelectorAll('#hoaDonTable tr');

                        // Lấy IDHDCT được chọn
                        const selectedID = mavaccine.value;

                        // Tìm thông tin trong bảng
                        tableRows.forEach(row => {
                            if (row.dataset.id === selectedID) {
                                soluong.value = row.dataset.soluong || '';
                                dongia.value = row.dataset.dongia || '';
                                thanhtien.value = row.dataset.thanhtien || '';
                            }
                            else {
                                soluong.value = null;
                                dongia.value = null;
                                thanhtien.value = null;
                            }
                        });
                    }



                </script>
            </form>
        </div>
    </div>


    <!-- Bảng chi tiết hóa đơn -->
    <div class="border rounded-4 ">
        <select class="form-select form-select-sm  m-2 " style="width: 10%;" aria-label="Small select example">
            <option selected>Loại</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <div class="table-responsive p-2">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Mã hóa đơn chi tiết</th>
                        <th>Mã hóa đơn</th>
                        <th>Mã vaccine</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody id="hoaDonTable">
                    @if (hoaDon != null)
                    {
                        foreach (var item in hoaDon.HoaDonChiTiets)
                        {
                            <tr data-id="@item.IDVT" data-soluong="@item.SoLuong" data-dongia="@item.DonGia" data-thanhtien="@item.ThanhTien">
                                <td>@item.IDHDCT</td>
                                <td>@hoaDon.IDHD</td>
                                <td>@item.IDVT</td>
                                <td>@item.SoLuong</td>
                                <td>@item.DonGia</td>
                                <td>@item.ThanhTien</td>
                                <td>@item.GhiChu</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>