@using Newtonsoft.Json

@{
    var KhachHangKSL = ViewBag.DSKhamSangLocDTO as List<DSKhamSangLocDTO>;
    var kqKhamSangLoc = ViewBag.KQKhamSangLocDTO as KQKhamSangLocDTO;
    var cdVaccine = ViewBag.CDVaccineDTO as CDVaccineDTO;
    int stt = 1;
    string idNv = TempData["ID"] as string;
    var TheoDoiSauTiem = ViewBag.TheoDoiSauTiem as TheoDoiSauTiem;
    var hangcho = ViewBag.HangCho as List<HangCho>;


}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="" style="color: #2fb388;">QUẢN LÝ TIÊM CHỦNG</h2>
        <div class="Double-end ">
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-print"></i> In</button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-right-from-bracket"></i> Thoát</button>
        </div>
    </div>

    <!-- Thông tin hóa đơn -->
    <div class="row m-0 mb-3 border rounded-4 py-2  ">
        <div class="col-4">
            <div class=" ms-1 p-3 py-1 border rounded-4 ">
                <div class="row">
                    <button class="col border  border-1 rounded-start btn "><i class="fa-solid fa-arrows-rotate"></i></button>
                    <input class="col-8  border border-1 rounded-2 mx-1" type="text">
                    <button type="button" class="col border border-1 rounded-end btn "><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="row border rounded-4 border-1 mt-1 " style="height: 300px;">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    <table class="table  table-hover h-25 m-0 text-center ">
                        <thead class="rounded-4">
                            <tr>
                                <th class="col-2">STT</th>
                                <th class="col">Họ và Tên</th>
                                <th class="col-4">Năm sinh</th>
                            </tr>
                        </thead>
                        @if (hangcho != null)
                        {
                            <tbody>
                                @foreach (var item in hangcho)
                                {
                                    <tr onclick="location.href='@Url.Action("KQKhamSangLoc", "QLTiemChung", new { IDKH = @item.IDKH })' ">
                                        <td>@stt</td>
                                        <td>@item.HoTen</td>
                                        <td>@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                                        <a href="#" style="display:none;">@(stt++)</a>
                                    </tr>

                                }

                            </tbody>

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có dữ liệu khách hàng để hiển thị.</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="row m-0 ms-1 mt-2 p-3 py-1 border rounded-4">
                <div class="col pt-2">

                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="medical-id">Mã khách hàng:</label>
                        <input type="text" id="medical-id" class="form-control form-control-sm col" value="@kqKhamSangLoc?.KhachHang.IDKH" readonly>
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="name">Họ và tên:</label>
                        <input type="text" id="name" class="form-control form-control-sm col" value="@kqKhamSangLoc?.KhachHang.TenKhachHang" readonly>
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="gender">Giới tính:</label>
                        <input type="text" id="gender" class="form-control form-control-sm col" value="@kqKhamSangLoc?.KhachHang.GioiTinh">
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="dob">Tình trạng sức khỏe:</label>
                        <input type="text" id="dob" class="form-control form-control-sm col" value="@kqKhamSangLoc?.TinhTrangSucKhoe">
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="status">Trạng thái:</label>
                        <select id="status" class="form-control form-control-sm col">
                            @if (kqKhamSangLoc != null && kqKhamSangLoc.TrangThai == null)
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == null" selected>Chưa có dữ liệu</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == null">Chưa có dữ liệu</option>
                            }

                            @if (kqKhamSangLoc != null && kqKhamSangLoc.TrangThai == true)
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == true" selected>Đạt</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == true">Đạt</option>
                            }
                            @if (kqKhamSangLoc != null && kqKhamSangLoc.TrangThai == false)
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == false" selected>Không đạt</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.TrangThai == false">Không đạt</option>
                            }


                        </select>
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="status">Kết quả:</label>
                        <select id="status" class="form-control form-control-sm col">
                            @if (kqKhamSangLoc != null && kqKhamSangLoc.KetQua == null)
                            {
                                <option value="@kqKhamSangLoc?.KetQua == null" selected>Chưa có dữ liệu</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.KetQua == null">Chưa có dữ liệu</option>
                            }

                            @if (kqKhamSangLoc != null && kqKhamSangLoc.KetQua == true)
                            {
                                <option value="@kqKhamSangLoc?.KetQua == true" selected>Đạt</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.KetQua == true">Đạt</option>
                            }
                            @if (kqKhamSangLoc != null && kqKhamSangLoc.KetQua == false)
                            {
                                <option value="@kqKhamSangLoc?.KetQua == false" selected>Không đạt</option>
                            }
                            else
                            {
                                <option value="@kqKhamSangLoc?.KetQua == false">Không đạt</option>
                            }


                        </select>
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="height">Chiều cao(cm):</label>
                        <input type="text" id="height" class="form-control form-control-sm col" value="@kqKhamSangLoc?.ChieuCao.ToString()" readonly>
                    </div>
                    <div class="form-group row pb-2">
                        <label class="fw-semibold col-4" for="weight">Cân nặng(kg):</label>
                        <input type="text" id="weight" class="form-control form-control-sm col" value="@kqKhamSangLoc?.CanNang.ToString()" readonly>
                    </div>

                </div>
            </div>
        </div>
        <div class="invoice-section col-8  ">
            <div class=" p-3 border rounded-4 ">
                <div class="row ">
                    <form asp-action="CreateTiemChung" asp-controller="QLTiemChung" method="post">
                        <h3>Tiêm chủng</h3>
                        <div class="form-group row mb-2">
                            <label class="col-1" style="width: 21%;" for="endTime">Thời gian tiêm xong:</label>
                            <input type="datetime" class="form-control col-3 me-1" style="width: 28%;" name="thoiGian" id="endTime" value="@TheoDoiSauTiem?.TiemChung?.ThoiGian.ToString("yyyy-MM-dd HH:mm:ss")">
                            <label class="col-1" style="width: 20%;" for="Name">Người thực hiện:</label>
                            <input type="text" class="form-control col-3 me-1" style="width: 29%;" id="Name"  value="@if(TheoDoiSauTiem !=null ){@TheoDoiSauTiem?.NhanVien?.TenNhanVien}else{@TempData["Username"]}">
                            <input type="text" name="IDDK" value="@cdVaccine?.IDDK" style="display: none;" />
                            <input type="text" name="IDNV" value="@idNv" style="display: none;" />
                            <input type="text" name="IDKH" value="@kqKhamSangLoc?.IDKH" style="display: none;" />
                        </div>
                        <div class="form-group row mb-2 d-flex justify-content-center">
                            <button type="submit" id="SumitAction1" class="btn btn-outline col-3 fw-bold me-1" style="font-size: small; width: 30%; color: black ; background-color: #f0f0f0; border: 2px solid #f0f0f0 ;">Xác nhận đã tiêm hôm nay</button>
                            <button type="button" class="btn btn-outline col-3 fw-bold" style="font-size: small; width: 30%; color: black ; background-color: #f0f0f0; border: 2px solid #f0f0f0 ;">Lịch sử tiêm chủng</button>
                        </div>
                    </form>
                    <form asp-action="UpdateTheoDoiSauTiem" asp-controller="QLTiemChung" method="post">
                        <h3>Theo dõi</h3>
                        <div class="form-group row mb-2">
                            <label class="col-1" style="width: 15%;" for="status">Trạng thái:</label>
                            <select id="status" class="form-control col-3 me-1" name="trangThai" style="width: 34%;">
                                <option value="True">Ổn định</option>
                                <option value="False">Có vấn đề</option>
                            </select>
                            <label class="col-1" style="width: 20%;" for="time">Thời gian hoàn tất:</label>
                            <input type="datetime" name="thoiGian" id="time" class="form-control col-6 me-1" style="width: 29%;" value="@if(TheoDoiSauTiem !=null && !TheoDoiSauTiem.TrangThai ){@TheoDoiSauTiem?.TiemChung?.ThoiGian.ToString("HH:mm:ss")}">
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-1" style="width: 15%;" for="note">Ghi chú:</label>
                            <input type="text" name="ghiChu" id="note" class="form-control col-6 me-1" style="width: 34%;" value="@TheoDoiSauTiem?.GhiChu">

                            <label class="col-1" style="width: 20%;" for="name">Người thực hiện:</label>
                            <input type="text" name="" id="name" class="form-control col-6 me-1" style="width: 29%;" value="@if(TheoDoiSauTiem !=null ){@TheoDoiSauTiem?.NhanVien?.TenNhanVien}else{@TempData["Username"]}">
                        </div>
                        <div class="form-group row mb-2 d-flex justify-content-center">
                            <button type="submit" id="SumitAction2" class="btn btn-outline col-3 fw-bold me-1" style="font-size: small; width: 30%; color: black ; background-color: #f0f0f0; border: 2px solid #f0f0f0 ;">Xác nhận hoàn tất tiêm</button>
                            <button type="button" class="btn btn-outline col-3 fw-bold" style="font-size: small; width: 30%; color: black ; background-color: #f0f0f0; border: 2px solid #f0f0f0 ;">Huỷ xác nhận tiêm</button>
                        </div>

                        <input type="text" name="id" value="@TheoDoiSauTiem?.IDST" style="display: none;" />
                        <input type="text" name="idTC" value="@TheoDoiSauTiem?.IDTC" style="display: none;" />
                        <input type="text" name="idNV" value="@idNv" style="display: none;" />
                        <input type="text" name="idKH" value="@kqKhamSangLoc?.IDKH" style="display: none;" />
                    </form>
                    <script>
                        function updateTime(inputId) {
                            const now = new Date();
                            const year = now.getFullYear();
                            const month = String(now.getMonth() + 1).padStart(2, '0');
                            const date = String(now.getDate()).padStart(2, '0');
                            const hours = String(now.getHours()).padStart(2, '0'); // 24 giờ
                            const minutes = String(now.getMinutes()).padStart(2, '0');
                            const seconds = String(now.getSeconds()).padStart(2, '0');

                            const formattedTime = `${year}-${month}-${date} ${hours}:${minutes}:${seconds}`; // Định dạng 24 giờ
                            const inputElement = document.getElementById(inputId);
                            if (inputElement) {
                                inputElement.value = formattedTime;
                            }
                        }

                        function startUpdatingTime(inputId, stopButtonId) {
                            const interval = setInterval(() => updateTime(inputId), 1000);

                            const stopButton = document.getElementById(stopButtonId);
                            if (stopButton) {
                                stopButton.addEventListener('click', () => clearInterval(interval));
                            }
                        }

                        // Razor logic: truyền trạng thái vào JavaScript
                        const theoDoiSauTiem = @Json.Serialize(TheoDoiSauTiem);

                        if (!theoDoiSauTiem) {
                            startUpdatingTime('endTime', 'SumitAction1');
                            startUpdatingTime('time', 'SumitAction2');
                        } else if (!theoDoiSauTiem.TrangThai && !theoDoiSauTiem.ThoiGian) {
                            startUpdatingTime('time', 'SumitAction2');
                        }

                    </script>

                </div>
            </div>
            <div class=" mt-1 p-3 border rounded-4 table-responsive " style="height: 55%;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên Vắc xin/Huyết thanh</th>
                            <th>Số lượng</th>
                            <th>Đã tiêm</th>
                            <th>Y/Bác sĩ chỉ định</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-semibold" colspan="5">Nhóm: Vaccine Tiêm theo bác sĩ chỉ định</td>
                        </tr>
                        <tr>
                            <td>@cdVaccine?.DangKyVaccine.TenVaccine</td>
                            <td>@cdVaccine?.DangKyVaccine.SoLuong</td>
                            <td>@cdVaccine?.DangKyVaccine.SoLuong</td>
                            <td>@cdVaccine?.NhanVien.TenNhanVien</td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>